* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;

}

body {
    background-color: #462246;
}


/* navbar */

#navbar {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    list-style: none;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #f994e6;
    border-bottom: 2px solid #f994e6;
    z-index: 10;


}
#logo{
    padding-top: 5px;
    margin: 0;
    height: 65px;
}

#navbar li {
    flex: 1;
    padding: 20px;
    color: black;
    text-align: center;
}

li a {
    text-decoration: none;
    font-size: 20px;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Dropdown styles */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#2a1229;
    border: 1px solid black;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
    overflow: auto;
}


/* Her starter selve siden */


main {
 
    flex-wrap: wrap;
    margin-top: 150px;
}



/* hjem-siden*/

.intro-container {
    display: flex;
    align-items:center; 
    margin: 25px;
    padding: 2px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;


    
}


.tekst {
    color: white;
    line-height: 2.5;
    font-weight: 500;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#randi-container{
    display: flex;
    justify-content: center;
    align-items: center;

  
}

#randibildet {
    width: 50%;
    border:5px;
    border-color:#f994e6;
    border-style:solid;
    border-radius: 50%;
   
}




/* oppskriftsiden */

#oppskrift-boks{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
   

}

#genser {
    width: 300px;
}

#genser-tekst-boks {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    border-color: #fcf7fc;
    border-style: dotted;

}

#genser-boks {
    display: flex;
    justify-content: right;
    width: 1500px;



}




/* bildesiden */

p {
    padding: 10px;
}



#boksoverskrift1 a {
    text-decoration: none;
    font-weight: bold;
}

#boksoverskrift1 a:hover {
    text-decoration: underline;
}

#gallery {
    margin: auto;
    text-align: center;
}

#gallery ul {
    list-style: none;
}


#gallery ul li {
    float: none;
    display: inline-block;
    text-align: center;
}

#gallery ul li img {
    width: 300px;
    border-radius: 25px;
    padding: 20px;
}

#gallery ul li img:hover {
    transform: scale(1);
    transition: 0.2s;
}


img:hover {
    cursor: pointer;
}




#rad {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-70%);
    margin-top: 5%;
}

#rad1, #rad2, #rad3 {
    margin-right: 10px;
}



/* til hit Dina */


.image-container.active img {
    transform: scale(1);
}


.bildebeskrivelse {
    display: none;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.image-container.active .bildebeskrivelse {
    display: block;
}





/* Påmeldingsside slutt */

